---
http_interactions:
- request:
    method: put
    uri: https://s3.amazonaws.com/morninglightmountain.com/?website
    body:
      encoding: UTF-8
      string: "\n        <WebsiteConfiguration xmlns='http://s3.amazonaws.com/doc/2006-03-01/'>\n
        \         <IndexDocument>\n            <Suffix>index.html</Suffix>\n          </IndexDocument>\n
        \         <ErrorDocument>\n            <Key>error.html</Key>\n          </ErrorDocument>\n
        \       </WebsiteConfiguration>\n      "
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Amz-Request-Id:
      - 4D68397B8A0FE4FC
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchBucket</Code><Message>The specified bucket does not exist</Message><BucketName>morninglightmountain.com</BucketName><RequestId>4D68397B8A0FE4FC</RequestId><HostId>GD6bTww/9j1t/B0ceYyKRohpDkc32kLTSod1Ur3pnPgLpSuQ3Djsq2l8ucCT1N6y</HostId></Error>
  recorded_at: Sun, 23 Mar 2014 04:18:12 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/morninglightmountain.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 94D87246A8632429
      Location:
      - /morninglightmountain.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 23 Mar 2014 04:18:13 GMT
[...]
- request:
    method: put
    uri: https://s3.amazonaws.com/morninglightmountain.com/?policy
    body:
      encoding: UTF-8
      string: |-
        {
                "Version":"2008-10-17",
                "Statement":[{
                  "Sid":"PublicReadForGetBucketObjects",
                  "Effect":"Allow",
                  "Principal": { "AWS": "*" },
                  "Action":["s3:GetObject"],
                  "Resource":["arn:aws:s3:::morninglightmountain.com/*"]
                }]
              }
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 2789965BD6792098
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 23 Mar 2014 04:18:14 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/www.morninglightmountain.com/?website
    body:
      encoding: UTF-8
      string: "\n        <WebsiteConfiguration xmlns='http://s3.amazonaws.com/doc/2006-03-01/'>\n
        \         <RedirectAllRequestsTo>\n            <HostName>morninglightmountain.com</HostName>\n
        \         </RedirectAllRequestsTo>\n        </WebsiteConfiguration>\n      "
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Amz-Request-Id:
      - 9BF5308A97EAE36F
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchBucket</Code><Message>The specified bucket does not exist</Message><BucketName>www.morninglightmountain.com</BucketName><RequestId>9BF5308A97EAE36F</RequestId><HostId>Fa704olzmxIsizyMwrbJvI9dL8Keo66+0BBadwG1DB4SHeSXaBmAnTDiJZfLqRqy</HostId></Error>
  recorded_at: Sun, 23 Mar 2014 04:18:15 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/www.morninglightmountain.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 65ADB8CB73A92F60
      Location:
      - /www.morninglightmountain.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 23 Mar 2014 04:18:15 GMT
[...]
- request:
    method: post
    uri: https://cloudfront.amazonaws.com/2012-07-01/distribution
    body:
      encoding: UTF-8
      string: "\n      <DistributionConfig xmlns=\"http://cloudfront.amazonaws.com/doc/2012-07-01/\">\n
        \       <Origins>\n          <Quantity>1</Quantity>\n          <Items>\n            <Origin>\n
        \             <Id>morninglightmountain.com-S3-origin</Id>\n              <DomainName>morninglightmountain.com.s3-website-us-east-1.amazonaws.com</DomainName>\n
        \             <CustomOriginConfig>\n                <HTTPPort>80</HTTPPort>\n
        \               <HTTPSPort>443</HTTPSPort>\n                <OriginProtocolPolicy>match-viewer</OriginProtocolPolicy>\n
        \             </CustomOriginConfig>\n            </Origin>\n          </Items>\n
        \       </Origins>\n        \n<CallerReference>configure-s3-website gem 2014-03-23
        06:18:16 +0200</CallerReference>\n<DefaultRootObject>index.html</DefaultRootObject>\n<Logging>\n
        \ <Enabled>false</Enabled>\n  <IncludeCookies>false</IncludeCookies>\n  <Bucket></Bucket>\n
        \ <Prefix></Prefix></Logging>\n<Enabled>true</Enabled>\n<Comment>Created by
        the configure-s3-website gem</Comment>\n<Aliases>\n  <Quantity>0</Quantity></Aliases>\n<DefaultCacheBehavior>\n
        \ <TargetOriginId>morninglightmountain.com-S3-origin</TargetOriginId>\n  <TrustedSigners>\n
        \   <Enabled>false</Enabled>\n    <Quantity>0</Quantity></TrustedSigners>\n
        \ <ForwardedValues>\n    <QueryString>true</QueryString>\n    <Cookies>\n
        \     <Forward>all</Forward></Cookies></ForwardedValues>\n  <ViewerProtocolPolicy>allow-all</ViewerProtocolPolicy>\n
        \ <MinTTL>86400</MinTTL></DefaultCacheBehavior>\n<CacheBehaviors>\n  <Quantity>0</Quantity></CacheBehaviors>\n<PriceClass>PriceClass_All</PriceClass>\n
        \     </DistributionConfig>\n      "
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Amzn-Requestid:
      - 286dffa8-b242-11e3-8523-e11815b6d01b
      Etag:
      - E1JKTZ8864Z8XO
      Location:
      - https://cloudfront.amazonaws.com/2012-07-01/distribution/E2P3503QUJ2Y33
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <Distribution xmlns="http://cloudfront.amazonaws.com/doc/2012-07-01/"><Id>E2P3503QUJ2Y33</Id><Status>InProgress</Status><LastModifiedTime>2014-03-23T04:18:16.747Z</LastModifiedTime><InProgressInvalidationBatches>0</InProgressInvalidationBatches><DomainName>d1bogqjo2s79ms.cloudfront.net</DomainName><ActiveTrustedSigners><Enabled>false</Enabled><Quantity>0</Quantity></ActiveTrustedSigners><DistributionConfig><CallerReference>configure-s3-website gem 2014-03-23 06:18:16 +0200</CallerReference><Aliases><Quantity>0</Quantity></Aliases><DefaultRootObject>index.html</DefaultRootObject><Origins><Quantity>1</Quantity><Items><Origin><Id>morninglightmountain.com-S3-origin</Id><DomainName>morninglightmountain.com.s3-website-us-east-1.amazonaws.com</DomainName><CustomOriginConfig><HTTPPort>80</HTTPPort><HTTPSPort>443</HTTPSPort><OriginProtocolPolicy>match-viewer</OriginProtocolPolicy></CustomOriginConfig></Origin></Items></Origins><DefaultCacheBehavior><TargetOriginId>morninglightmountain.com-S3-origin</TargetOriginId><ForwardedValues><QueryString>true</QueryString><Cookies><Forward>all</Forward></Cookies></ForwardedValues><TrustedSigners><Enabled>false</Enabled><Quantity>0</Quantity></TrustedSigners><ViewerProtocolPolicy>allow-all</ViewerProtocolPolicy><MinTTL>86400</MinTTL></DefaultCacheBehavior><CacheBehaviors><Quantity>0</Quantity></CacheBehaviors><Comment>Created by the configure-s3-website gem</Comment><Logging><Enabled>false</Enabled><IncludeCookies>false</IncludeCookies><Bucket></Bucket><Prefix></Prefix></Logging><PriceClass>PriceClass_All</PriceClass><Enabled>true</Enabled></DistributionConfig></Distribution>
  recorded_at: Sun, 23 Mar 2014 04:18:17 GMT
recorded_with: VCR 2.8.0
